@tailwind base;
@tailwind components;
@tailwind utilities;
/* Remove chrome autofill color from inputs */
@font-face {
  font-family: Geist;
  src: url(../geist-font-family/Geist-Light-BF6569491dc9c01.otf);
  /* src: url(../geist-font-family/GeistVF-BF6569491f13184.ttf); */
}
* {
  font-family: Geist;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000000s ease-in-out 0s;
}
.productContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 240px 240px;
  gap: 24.96px 24.96px;
  grid-auto-flow: row;
  grid-template-areas:
    "first third forth second"
    "first fifth sixth second";
}

.first {
  grid-area: first;
}

.second {
  grid-area: second;
}

.third {
  grid-area: third;
}

.forth {
  grid-area: forth;
}

.fifth {
  grid-area: fifth;
}

.sixth {
  grid-area: sixth;
}

strong {
  font-size: 18px;
}

/* .video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
} */
/* .video-container video {
  Make video to at least 100% wide and tall
  min-width: 100%;
  min-height: 100%;

  Setting width & height to auto prevents the browser from stretching or squishing the video
  width: auto;
  height: auto;

  Center the video
  position: absolu te;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
